
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
    list-style: none;
}

.nav-link{
    font-size: 20px;
    font-weight: 400;
    color: black;
}
.nav-link:hover{
    font-size: 20px;
    font-weight: 400;
    color: black;
}

a:link {
    text-decoration: underline;
    color: black;
}

a:visited {
    text-decoration: underline;
    color: black;
}

a:hover {
    color: black;
    text-decoration: underline;
}

a:active {
    color: black;
    text-decoration: underline;
}

.nav-logo {
    font-size: 28px;
    font-weight: 500;
}

@media only screen and (max-width: 760px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

#text{
    text-align: left;
    width: 800px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    box-sizing: border-box;
    padding: 15px;
}
.par{
    text-indent: 6%;
}

ul.myindent{
    padding-left: 36px;
}
li.space{
    margin: 10px;
}
p.section{
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
}
p.category{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}
.files{
    text-align: center; 
    font-family: 'Courier New', Courier, monospace; 
    font-size: 22px;
}

.courier {
    font-family: 'Courier New', Courier, monospace;
    
}
.leftpad {
    padding-left: 36px;
}

.blockquote{
    margin: 25px;
    color: gray;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

.card-block{
    padding: 15px;
}

.lilsmaller{
    font-size: 14px;
}

a.mycard {
    text-decoration: none;
    display: block;
}